<div class="container">
  <h3>Input</h3>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="input-group-prepend">
      <span class="input-group-text">Upload File</span>
    </div>
    <input class="form-control" type="file" accept=".json" (change)="checkJSON($event)" formControlName="file">

    <div class="input-group-prepend">
      <span class="input-group-text">With textarea</span>
    </div>
    <textarea class="form-control" [value]="jsonString" (change)="checkJSON($event)" (keyup)="checkJSON($event)" aria-label="With textarea"
      formControlName="jsonString"></textarea>

    <button [disabled]="disabled" type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>