<div class="main-nav col-sm-2 col-md-2 col-lg-1 col-xl-1">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark  px-0 flex-row flex-nowrap">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarWEX" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarWEX">
      <div class="nav flex-sm-column flex-row">
        <div class="navbar-brand mx-auto my-4" href="#">
          <img class="mx-auto" width="100" height="100" src="/assets/json.png" />
        </div>
        <h4 class="nav-item text-center">Charts:</h4>
        <a href="#" class="nav-item nav-link" (click)="onClick($event, 'male-female-chart')">Male/Female</a>
        <a href="#" class="nav-item nav-link" (click)="onClick($event, 'first-last-name-chart')">First/Last Name</a>
        <a href="#" class="nav-item nav-link" (click)="onClick($event, 'states-chart')">States</a>
        <a href="#" class="nav-item nav-link" (click)="onClick($event, 'default')">Age Ranges</a>
        <a href="#" class="nav-item nav-link" (click)="onClick($event, 'reset')">Reset</a>
        <a *ngIf="fileDownload" href="#" class="nav-item nav-link" (click)="downloadFile($event)">Download Edited Data File</a>
      </div>
    </div>
  </nav>
</div>